.box{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.box1{
    background-color: rgb(2, 74, 59);
    flex: 1;
    color: rgb(255, 255, 255);
}
.photo{
    width: 150px;
    height: 180px;
}
.box2{
    background-color: rgb(255, 255, 255);
    flex: 2;
    margin-left: -12px;
}
img{
    height: 150px;
    border-radius: 50%;
    width:130px ;
    margin-top: 20px;
    margin-left: 60px;
    background-color: aliceblue;
}
th,td{
    display: block;
}
h2,h4{
    margin-left: 20px;
}
p{
    margin-left: 10px;
}
/* A4 paper size */
.page {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center;
    margin-left: 330px;
}
hr{
    width: 200px;
}
.h1{
    margin-left: 15px;
}
.h2{
    margin-left: 10px;
}
.h3{
    color: rgb(2, 74, 59);
}
.cyber {
    color: rgb(2, 74, 59);
}